.Weather-Forecast {
  text-align: center;
  margin: 0 auto;
  padding: 5px;
  max-width: 80%;
}

.unit {
  font-size: 11px;
  position: relative;
  top: -3px;
}

.forecast-temp-max {
  font-weight: bold;
}

.forecast-temp-min {
  color: #8484ad;
}

.forecast-day {
  padding: 8px;
}
